In [1]:
import sweetviz

In [9]:
data_path = r'C:\my-drive\git-repos\my-learning\ml-playlist\data\house_price_pred\train.csv'
test_path = r'C:\my-drive\git-repos\my-learning\ml-playlist\data\house_price_pred\test.csv'

In [3]:
df = pd.read_csv(data_path)
df.shape

(1460, 81)

In [10]:
df_test  = pd.read_csv(test_path)
df_test.shape

(1459, 80)

In [4]:
df.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500

In [6]:
my_report = sweetviz.analyze([df, 'train'], target_feat='SalePrice')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:24 -> (00:00 left)

In [7]:
my_report.show_html('report.html')

Report report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

## Comparing two data frames

In [11]:
my_report_compare = sweetviz.compare([df, 'train'], [df_test, 'test'], target_feat='SalePrice')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:44 -> (00:00 left)

In [12]:
my_report_compare.show_html('compare.html')

Report compare.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.