In [1]:
import pandas as pd
import numpy as np

In [24]:
df = pd.DataFrame({'RID' : list('abcde'),
                   'part_no' : [np.nan, 2,3,4,np.nan],
                   'part_qty' : [np.nan, 2,3,4,5],
                   'oper_no' : [np.nan, 2,np.nan,4,5],
                   'oper_desc' : [np.nan, 2,np.nan,4,np.nan]})
df

  RID  part_no  part_qty  oper_no  oper_desc
0   a      NaN       NaN      NaN        NaN
1   b      2.0       2.0      2.0        2.0
2   c      3.0       3.0      NaN        NaN
3   d      4.0       4.0      4.0        4.0
4   e      NaN       5.0      5.0        NaN

In [28]:
cols = ['part_no', 'part_qty']
df1 = df.dropna(subset=cols, how='all')
# df1 = df[~df['part_no'].notnull()]
df1

  RID  part_no  part_qty  oper_no  oper_desc
1   b      2.0       2.0      2.0        2.0
2   c      3.0       3.0      NaN        NaN
3   d      4.0       4.0      4.0        4.0
4   e      NaN       5.0      5.0        NaN