In [4]:
import pyforest

In [5]:
np.random.randn(4)

array([ 1.73559147,  0.2077909 , -1.84396912, -0.80123419])

In [6]:
left = pd.DataFrame({'key': ['A', 'B', 'C', 'D', 'E'],
              'value' : np.random.randn(5)})

left

  key     value
0   A -0.885752
1   B  0.323223
2   C  0.049838
3   D -0.514651
4   E -0.457256

In [8]:
right = pd.DataFrame(
    {'key' : ['B', 'D', 'F', 'G'],
     'value' : np.random.randn(4)}
)

right

  key     value
0   B -1.939791
1   D  0.106168
2   F  0.894199
3   G -0.079447

In [9]:
pd.merge(left, right, on='key', how='inner')

  key   value_x   value_y
0   B  0.323223 -1.939791
1   D -0.514651  0.106168

In [10]:
pd.merge(left, right, on='key', how='outer')

  key   value_x   value_y
0   A -0.885752       NaN
1   B  0.323223 -1.939791
2   C  0.049838       NaN
3   D -0.514651  0.106168
4   E -0.457256       NaN
5   F       NaN  0.894199
6   G       NaN -0.079447

In [11]:
pd.merge(left, right, on='key', how='left')

  key   value_x   value_y
0   A -0.885752       NaN
1   B  0.323223 -1.939791
2   C  0.049838       NaN
3   D -0.514651  0.106168
4   E -0.457256       NaN

## Include only new rows into old dataframe

In [12]:
df_new = pd.concat([left, right])
df_new

  key     value
0   A -0.885752
1   B  0.323223
2   C  0.049838
3   D -0.514651
4   E -0.457256
0   B -1.939791
1   D  0.106168
2   F  0.894199
3   G -0.079447

In [13]:
df_new.drop_duplicates(subset=['key'])

  key     value
0   A -0.885752
1   B  0.323223
2   C  0.049838
3   D -0.514651
4   E -0.457256
2   F  0.894199
3   G -0.079447

## Merge multiple files having same column (Toyota scenario)

In [23]:
df_ro = pd.DataFrame({ 'RO_ID' : [1, 2, 3, 4, 5,11,12] })
df_ro

   RO_ID
0      1
1      2
2      3
3      4
4      5
5     11
6     12

### Merge first OPER file

In [20]:
df_OPER_1 = pd.DataFrame({ 'RO_ID' : [1, 1, 2, 3, 3, 4, 5, 6, 7, 8] ,
                        'RO_NAME' : ['ONE', 'ONE_ONE', 'TWO', 'THREE', 'THREE_THREE', 'FOUR', 'FIVE', 'SIX', 'SEVEN', 'EIGHT']})
df_OPER_1

   RO_ID      RO_NAME
0      1          ONE
1      1      ONE_ONE
2      2          TWO
3      3        THREE
4      3  THREE_THREE
5      4         FOUR
6      5         FIVE
7      6          SIX
8      7        SEVEN
9      8        EIGHT

In [28]:
df_left_join = pd.merge(df_ro, df_OPER_1, how='left', on='RO_ID')
df_left_join

   RO_ID      RO_NAME
0      1          ONE
1      1      ONE_ONE
2      2          TWO
3      3        THREE
4      3  THREE_THREE
5      4         FOUR
6      5         FIVE
7     11          NaN
8     12          NaN

In [30]:
df_inner_join = pd.merge(df_ro, df_OPER_1, how='inner', on='RO_ID')
df_inner_join

   RO_ID      RO_NAME
0      1          ONE
1      1      ONE_ONE
2      2          TWO
3      3        THREE
4      3  THREE_THREE
5      4         FOUR
6      5         FIVE

### Merge second OPER file

In [31]:
df_OPER_2 = pd.DataFrame({ 'RO_ID' : [11, 11, 12, 13, 13, 14] ,
                        'RO_NAME' : ['ELEVEN', 'ELEVEN_ELEVEN', 'TWELVE', 'THIRTEEN', 'THIRTEEN_THIRTEEN', 'FOURTEEN']})
df_OPER_2

   RO_ID            RO_NAME
0     11             ELEVEN
1     11      ELEVEN_ELEVEN
2     12             TWELVE
3     13           THIRTEEN
4     13  THIRTEEN_THIRTEEN
5     14           FOURTEEN

In [32]:
pd.merge(df_left_join, df_OPER_2, how='left', on='RO_ID')

   RO_ID    RO_NAME_x      RO_NAME_y
0      1          ONE            NaN
1      1      ONE_ONE            NaN
2      2          TWO            NaN
3      3        THREE            NaN
4      3  THREE_THREE            NaN
5      4         FOUR            NaN
6      5         FIVE            NaN
7     11          NaN         ELEVEN
8     11          NaN  ELEVEN_ELEVEN
9     12          NaN         TWELVE