In [1]:
import pyforest

In [2]:
np.random.randn(4)

array([ 0.90388537,  0.13657079,  0.10724136, -0.73100149])

In [3]:
left = pd.DataFrame({'key': ['A', 'B', 'C', 'D', 'E'],
              'value' : np.random.randn(5)})

left

  key     value
0   A  1.855129
1   B  0.754730
2   C -1.905583
3   D  1.948501
4   E  0.272586

In [4]:
right = pd.DataFrame(
    {'key' : ['B', 'D', 'F', 'G'],
     'value' : np.random.randn(4)}
)

right

  key     value
0   B  1.165099
1   D -0.034716
2   F  0.434941
3   G -0.570222

In [7]:
pd.merge(left, right, on='key', how='inner')

  key   value_x   value_y
0   B  0.754730  1.165099
1   D  1.948501 -0.034716

In [8]:
pd.merge(left, right, on='key', how='outer')

  key   value_x   value_y
0   A  1.855129       NaN
1   B  0.754730  1.165099
2   C -1.905583       NaN
3   D  1.948501 -0.034716
4   E  0.272586       NaN
5   F       NaN  0.434941
6   G       NaN -0.570222

In [9]:
pd.merge(left, right, on='key', how='left')

  key   value_x   value_y
0   A  1.855129       NaN
1   B  0.754730  1.165099
2   C -1.905583       NaN
3   D  1.948501 -0.034716
4   E  0.272586       NaN

## Include only new rows into old dataframe

In [11]:
df_new = pd.concat([left, right])
df_new

  key     value
0   A  1.855129
1   B  0.754730
2   C -1.905583
3   D  1.948501
4   E  0.272586
0   B  1.165099
1   D -0.034716
2   F  0.434941
3   G -0.570222

In [13]:
df_new.drop_duplicates(subset=['key'])

  key     value
0   A  1.855129
1   B  0.754730
2   C -1.905583
3   D  1.948501
4   E  0.272586
2   F  0.434941
3   G -0.570222