In [2]:
import pyforest

In [3]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [4]:
df = pd.DataFrame(np.arange(25).reshape(5,5), 
             index = list('54321'),
             columns = list('abcde'))

df

    a   b   c   d   e
5   0   1   2   3   4
4   5   6   7   8   9
3  10  11  12  13  14
2  15  16  17  18  19
1  20  21  22  23  24

In [12]:
df.iloc[1]  #geting values based on Index Postion = 1

a    5
b    6
c    7
d    8
e    9
Name: 4, dtype: int32

In [11]:
df.loc['1'] #getting values based on Index label value = 1

a    20
b    21
c    22
d    23
e    24
Name: 1, dtype: int32