# Import packages

In [14]:
import pandas as pd
from pandas_profiling import ProfileReport
import sweetviz
import ipykernel

from sklearn import preprocessing
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

# Data Analysis

In [15]:
data_path  = r'..\data\titanic_train.csv'

In [16]:
df = pd.read_csv(data_path)
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [17]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

# EDA

## Using Pandas

In [18]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Using SweetViz

In [19]:
# titanic_report = sweetviz.analyze([df, 'train'], target_feat='Survived')

In [20]:
# titanic_report.show_html('titanic_eda_report.html')

## Using Pandas Profiling

In [21]:
# profile = ProfileReport(df, title='Titanic Data profile', explorative=True)

In [22]:
# profile.to_widgets()

In [23]:
# profile.to_file('titanic_analysis.html')

# Missing Values Handling

In [29]:
sns.histplot(df["Age"])
# plt.title('Histogram before Scaling')
# plt.show()

In [25]:
scaler = preprocessing.StandardScaler()
df['Age_Scaled'] = scaler.fit_transform(df['Age'].values.reshape(-1,1))